In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [79]:
data = pd.read_csv('loan_data.csv')

In [80]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [81]:
data.shape

(614, 13)

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [83]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [84]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [85]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [86]:
data['Married'].value_counts()

Married
Yes    398
No     213
Name: count, dtype: int64

In [87]:
data=data.dropna()

In [88]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [89]:
data.shape

(480, 13)

In [90]:
from sklearn.preprocessing import LabelEncoder

In [91]:
le = LabelEncoder()

In [92]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [93]:
data['Dependents'] = data['Dependents'].replace('3+', 4)

In [94]:
# gender m-1,f-0
# loan_status n-0,y-1
# married y-1,n-0
# education graduate-0,no-1
# selfemp y-1,n-0
# area semi-1,urban-2,rural-0

In [95]:
data['Property_Area'] = le.fit_transform(data['Property_Area'])
data['Gender'] = le.fit_transform(data['Gender'])
data['Loan_Status'] = le.fit_transform(data['Loan_Status'])
data['Education'] = le.fit_transform(data['Education'])
data['Married'] = le.fit_transform(data['Married'])
data['Self_Employed'] = le.fit_transform(data['Self_Employed'])

In [96]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [97]:
x = data.drop(columns=['Loan_ID','Loan_Status'],axis=1)
y = data['Loan_Status']

In [98]:
x.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2

In [99]:
y.head()

1    0
2    1
3    1
4    1
5    1
Name: Loan_Status, dtype: int64

In [100]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,stratify=y,random_state=2)

In [101]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [102]:
from sklearn.svm import SVC
from sklearn import svm

In [103]:
model = svm.SVC(kernel='linear')

In [104]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [105]:
from sklearn.metrics import accuracy_score

In [106]:
x_train_pred = model.predict(x_train)
x_train_acc = accuracy_score(y_train,x_train_pred)
x_train_acc

0.8055555555555556

In [107]:
x_test_pred = model.predict(x_test)
x_test_acc = accuracy_score(y_test,x_test_pred)
x_test_acc

0.8333333333333334

In [108]:
# gender m-1,f-0
# loan_status n-0,y-1
# married y-1,n-0
# education graduate-0,no-1
# selfemp y-1,n-0
# area semi-1,urban-2,rural-0

In [109]:
data.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
6,LP001013,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2,1
7,LP001014,1,1,4,0,0,3036,2504.0,158.0,360.0,0.0,1,0
8,LP001018,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,2,1
9,LP001020,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1,0
10,LP001024,1,1,2,0,0,3200,700.0,70.0,360.0,1.0,2,1
12,LP001028,1,1,2,0,0,3073,8106.0,200.0,360.0,1.0,2,1
13,LP001029,1,0,0,0,0,1853,2840.0,114.0,360.0,1.0,0,0
14,LP001030,1,1,2,0,0,1299,1086.0,17.0,120.0,1.0,2,1
15,LP001032,1,0,0,0,0,4950,0.0,125.0,360.0,1.0,2,1
17,LP001036,0,0,0,0,0,3510,0.0,76.0,360.0,0.0,2,0
18,LP001038,1,1,0,1,0,4887,0.0,133.0,360.0,1.0,0,0
20,LP001043,1,1,0,1,0,7660,0.0,104.0,360.0,0.0,2,0
21,LP001046,1,1,1,0,0,5955,5625.0,315.0,360.0,1.0,2,1
22,LP001047,1,1,0,1,0,2600,1911.0,116.0,360.0,0.0,1,0
25,LP001066,1,1,0,0,1,9560,0.0,191.0,360.0,1.0,1,1
26,LP001068,1,1,0,0,0,2799,2253.0,122.0,360.0,1.0,1,1
27,LP001073,1,1,2,1,0,4226,1040.0,110.0,360.0,1.0,2,1
28,LP001086,1,0,0,1,0,1442,0.0,35.0,360.0,1.0,2,0
31,LP001095,1,0,0,0,0,3167,0.0,74.0,360.0,1.0,2,0
32,LP001097,1,0,1,0,1,4692,0.0,106.0,360.0,1.0,0,0
33,LP001098,1,1,0,0,0,3500,1667.0,114.0,360.0,1.0,1,1
34,LP001100,1,0,4,0,0,12500,3000.0,320.0,360.0,1.0,0,0
37,LP001112,0,1,0,0,0,3667,1459.0,144.0,360.0,1.0,1,1
38,LP001114,1,0,0,0,0,4166,7210.0,184.0,360.0,1.0,2,1
39,LP001116,1,0,0,1,0,3748,1668.0,110.0,360.0,1.0,1,1
40,LP001119,1,0,0,0,0,3600,0.0,80.0,360.0,1.0,2,0
41,LP001120,1,0,0,0,0,1800,1213.0,47.0,360.0,1.0,2,1
43,LP001131,1,1,0,0,0,3941,2336.0,134.0,360.0,1.0,1,1
46,LP001138,1,1,1,0,0,5649,0.0,44.0,360.0,1.0,2,1
47,LP001144,1,1,0,0,0,5821,0.0,144.0,360.0,1.0,2,1
48,LP001146,0,1,0,0,0,2645,3440.0,120.0,360.0,0.0,2,0
49,LP001151,0,0,0,0,0,4000,2275.0,144.0,360.0,1.0,1,1
50,LP001155,0,1,0,1,0,1928,1644.0,100.0,360.0,1.0,1,1
51,LP001157,0,0,0,0,0,3086,0.0,120.0,360.0,1.0,1,1
52,LP001164,0,0,0,0,0,4230,0.0,112.0,360.0,1.0,1,0
53,LP001179,1,1,2,0,0,4616,0.0,134.0,360.0,1.0,2,0
54,LP001186,0,1,1,0,1,11500,0.0,286.0,360.0,0.0,2,0
55,LP001194,1,1,2,0,0,2708,1167.0,97.0,360.0,1.0,1,1
56,LP001195,1,1,0,0,0,2132,1591.0,96.0,360.0,1.0,1,1
57,LP001197,1,1,0,0,0,3366,2200.0,135.0,360.0,1.0,0,0
58,LP001198,1,1,1,0,0,8080,2250.0,180.0,360.0,1.0,2,1
59,LP001199,1,1,2,1,0,3357,2859.0,144.0,360.0,1.0,2,1
60,LP001205,1,1,0,0,0,2500,3796.0,120.0,360.0,1.0,2,1
61,LP001206,1,1,4,0,0,3029,0.0,99.0,360.0,1.0,2,1
62,LP001207,1,1,0,1,1,2609,3449.0,165.0,180.0,0.0,0,0

In [114]:
new_data = (0,0,3,1,1,4500,1500.0,200.0,180.0,0.0,0)
new_data_array = np.asarray(new_data)

# Reshape for one instance
new_data_reshaped = new_data_array.reshape(1, -1)

# Standardize the new input (IMPORTANT!)
new_data_scaled = scaler.transform(new_data_reshaped)

# Make prediction
prediction = model.predict(new_data_scaled)

if prediction[0] == 1:
    print('Loan Approved ✅')
else:
    print('Loan Rejected ❌')

Loan Rejected ❌

C:\Users\DELL-Latitude-5420\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(